.post-submit {
	/*display:none;*/
}
.input-post {
	display: none;
}
.Add {
	width: 100vw;
	height: 100vh;
	position: fixed;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.add-div {
}
.add-div textarea {
	height:10vh;
}
