@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
.UploadDP .DPform
{
	display:none;
}
.UploadDP .preview
{
	width:90vw;
	height:90vw;
	border:1px solid transparent;
	border-radius:50%;
	overflow: hidden;
	border:5px solid green;
}
.UploadDP .preview img
{
	width:100%;
}
.UploadDP .user-details .id
{
	font-family: 'Sacramento', cursive !important;
	font-size:4rem;
}
.UploadDP .Add
{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}