@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.back {
	position: absolute;
	width: 2rem;
	height: 2rem;
	fill: #7ebf9e;
	top: 1rem;
	left: 0rem;
}
.ProductList {
	display: flex;
	justify-content: center;
}
.Screen {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(252 255 236);
	width: 100vw;
	height: 100vh;
	z-index: 5;
}
.filter-form {
	width: 96vw;
	display: flex;
	justify-content: flex-end;
	padding: 2vw;
}
.heading
{
	font-size: 1.5rem;
    padding: 0.2rem 0.5rem;
    border-left: 2px solid;
    margin: 10px;
    display: block;
    font-family: 'Oswald', sans-serif;
}
@media (min-width: 700px) {
	.Screen {
		display: block;
	}
}
